@{
    Layout = "_Layout";
}
@model TravelClient.Models.Destination

<h3>Are you sure you want to remove this destination?</h3>
<hr />

@Html.DisplayNameFor(model => model.Country): @Html.DisplayFor(model => model.City)
@using (Html.BeginForm())
{
    <br>
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
}
<br>
<p>@Html.ActionLink("Cancel", "Details", null, new {id = Model.DestinationId})</p>
